
html{
    font-family: Poppins,'sans-serif';
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: #124DEE;
}

::selection {
    color: white; 
    background: #124DEE;
}


.main-container{
    width: 80%;
    margin: 0 auto;
    margin-top: 10%;
    padding-bottom: 80px;
    text-align: center;
}


.image{
    width: 100%;
}

.image img{
    width: 30%;
}

.header{
    margin-top: 16px;
    font-size: 24px;
    color: #2F3F37;
    line-height: 1.38;
    font-weight: 600;
    
}

.subheader{
    margin-top: 16px;
    font-weight: 400;
    line-height: 1.57;
    color: #81878C;
}

a{
    text-decoration: none;
    border-bottom: 1px dashed #81878C;
    color: #81878C;
}

a:hover{
    text-decoration: none;
    border-bottom: 1px solid #124DEE;
    color: #1F7AE0;
}